.reward-card(tabindex)
    .reward-card__image(style="background-image: url('img/reward-card/reward-1.webp')")
    
    .reward-card__description
        .reward-card__title Рационы питания
        .reward-card__tag 
            .chips
                .chips__icon
                    +svg(16, 16, "telegram")
                .chips__text Подписка на сообщество