.reward-card(tabindex)
    .reward-card__image(style="background-image: url('img/achieve/club-card.webp')")
    
    .reward-card__description
        .reward-card__title 3 дня доступа по Клубной карте
        .reward-card__tag 
            .chips
                .chips__icon
                    +svg(16, 16, "mail")
                .chips__text Нужен email