.reward-card(tabindex)
    .reward-card__image(style="background-image: url('img/achieve/5-days.webp')")
    
    .reward-card__description
        .reward-card__title 3 лучших упражнения для бедер и ягодиц
        .reward-card__tag 
            .chips
                .chips__icon
                    +svg(16, 16, "flash")
                .chips__text Нужно 5 дней в поток