.reward-card(tabindex)
    .reward-card__image(style="background-image: url('img/achieve/7-days.webp')")
    
    .reward-card__description
        .reward-card__title 3 лучших упражнения для&nbsp;cупер&#8209;пресса
        .reward-card__tag 
            .chips
                .chips__icon
                    +svg(16, 16, "flash")
                .chips__text Нужно 7 дней в поток