.avatar-block
    .avatar-block__avatar
        img(src="img/avatar/avatar.webp", alt="Елена")
    .avatar-block__info
        .avatar-block__name Здравствуйте, Елена
        .avatar-block__notice 12 дней в потоке 🔥
    