.progress-section
    .progress-section__info-block
        include ../../display/display
    .progress-section__section
        .progress-section__section-header
            h1.title.title--s Мои награды
            p.text Выполняйте тренировки и получайте подарки
        .progress-section__rewards-list 
            include ../../reward/reward-done
            include ../../reward/reward