include ../../radio-button/radio-button

.quiz-section
    .quiz-section__header
        .quiz-section__header-steps Шаг 3 из 3
        .quiz-section__header-title
            h1.title Уведомления о тренировках
            p.description Выберите время, когда вам присылать новые упражения
    form(action="").quiz-section__form
        include ../../time-input/time-input
        include ../../switch/switch