include ../../radio-button/radio-button

.quiz-section
    .quiz-section__header
        .quiz-section__header-steps Шаг 3 из 3
        .quiz-section__header-title
            h1.title Выберите время, в которое вам удобно заниматься
    form(action="").quiz-section__form
        include ../../time-input/time-input-disabled
        include ../../switch/switch