.task-card
    a(href="#").task-card__link
    .task-card__thumb-image
        img(src="img/task-card/thumb.jpg", alt="Упражнение для лопаток")
    .task-card__content
        .task-card__title Класс для устранения скованности в лопатках
        .task-card__time 8 минут