.card
    .card__image.card__image--gift
        img(src="img/icons/gift.svg", alt="Подарок", width="36", height="36")
    .card__content
        .card__title Клубная карта
        .card__description Доступ к Тематическим неделям и более 200 классам