.greeting-section
    .greeting-section__video    
        video(src="video/video.mp4" type="video/mp4" autoplay loop muted playsinline) 
    .greeting-section__dialog
        include ../../greeting-dialog/greeting-dialog