.gift-section
    .gift-section__section
        .gift-section__section-header
            h1.title.title--s Подарки
            p.text Занимайтесь ежедневно, оставаясь в потоке движения и забирайте подарки.
        .gift-section__rewards-list 
            //- include ../../reward/reward-done
            include ../../reward-card/reward-card-1
            include ../../reward-card/reward-card-1-complete
            include ../../reward-card/reward-card-2
            include ../../reward-card/reward-card-3
            include ../../reward-card/reward-card-4
            include ../../reward-card/reward-card-5