.gift-section
    .gift-section__section
        .gift-section__section-header
            h1.title.title--s Подарки
            p.text Занимайтесь ежедневно, оставаясь в потоке движения и забирайте подарки.
        .gift-section__rewards-list 
            include ../../reward/reward-done
            include ../../reward/reward