include mixins/svg
include button/button
include mixins/svg
include snackbar/snackbar

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Telegram Mini App 
        meta(name="description", content="Telegram Mini App")
        meta(name="keywords", content="Telegram Mini App")


    body
        .app
            .app__content
                include sections/gift-section/gift-section-v2
                .app__nav-bar 
                    include nav-bar/nav-bar
            .app__snackbar 
                +snackbar('Подборка отправлена вам на почту', 'snackbar--with-icon snackbar__active', "check-circle")



        
        