include ../components/mixins/svg
include ../components/button/button

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Telegram Mini App 
        meta(name="description", content="Telegram Mini App")
        meta(name="keywords", content="Telegram Mini App")
        //- meta(name="theme-color", content="#E7B117")
        //- link(rel="icon", type="image/svg", href="favicon.svg")
        //- link(rel="icon", type="image/png", href="favicon.png")
        //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")
        //- link(rel="preload", href="fonts/BBManualMonoProHeadline-SemiRegular.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        //- link(rel="preload", href="fonts/BBManualMonoProHeadline-Regular.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        //- link(rel="preload", href="fonts/BBManualMonoProText-Regular.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        //- link(rel="preload", href="fonts/Circe-Regular.woff2", as="font", type="font/woff2", crossorigin="anonymous")

    body
        .app
            .app__content
                include sections/intro-section/intro-section


                .app__button-panel
                    +button('Поехали', 'button--full-width')



        
        