include ../components/mixins/svg
include ../components/button/button

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Telegram Mini App 
        meta(name="description", content="Telegram Mini App")
        meta(name="keywords", content="Telegram Mini App")


    body
        ol
            li
                a(href="index.html") Главная 
            li
                a(href="gift-page.html") Подарки
            li
                a(href="task-page.html") Задание на сегодня
            li
                a(href="quiz-page-1.html") Вопрос 1
            li
                a(href="quiz-page-2.html") Вопрос 2
            li
                a(href="quiz-page-3-disabled.html") Вопрос 3(Недоступно)
            li
                a(href="quiz-page-3.html") Вопрос 3
            li
                a(href="sign-up-page.html") Регистрация
            li
                a(href="sign-up-page-processing.html") Регистрация(Обработка)
            li
                a(href="sign-up-greeting-page.html") Регистрация(Успешная регистрация)



        
        