.sign-up-section
    .sign-up-section__content
        .sign-up-section__logo
            img(src="img/icons/party.svg", alt="Логотип Pilates Flow" width="64" height="64")
        .sign-up-section__info
            .sign-up-section__title
                h1.title Ура!!! Поздравляем
            .sign-up-section__text
                p.text Вы создали аккаунт. Можете продолжить в приложении или вернуться в наш чат-бот
        .sign-up-section__button-panel
            +button('В чат-бот', "button--tertiary")
            +button('В приложение', "button--accent button--full-width",)