.sign-up-section
    padding-top: 20px
    padding-left: 20px
    padding-right: 20px
    box-sizing: border-box
    height: 100%

    &__content
        display: flex
        flex-direction: column
        height: 100%

    &__logo
        width: 100%
        display: flex
        margin-bottom: auto
        margin-top: auto
        margin-left: auto
        margin-right: auto
        justify-content: center

    &__title
        margin-bottom: 12px

    &__text


    &__list
        margin-top: 4px
        margin-bottom: 16px


    &__info-text
        margin-bottom: 16px

    &__button-panel
        margin-top: 16px
        padding-bottom: 16px
        display: flex
        column-gap: 16px
