include ../../button/button

.sign-up-section
    .sign-up-section__content
        .sign-up-section__info
            .sign-up-section__title
                h1.title Напишите ваш email 
            .sign-up-section__text
                p.text Это позволит:
            .sign-up-section__list
                ul
                    li получить доступ к тренировкам на 14 дней
                    li отслеживать прогресс
                    li получать подарки за прохождение марафона
            .field
                input.field__input(type="text" placeholder="E-mail")
        .sign-up-section__button-panel
            +button-right('Уже создаем...', 'button--full-width button--accent button--processing', true, 'loader')