.display
    .display__remains
        .display__remains-days 
            .display__remains-days-number 14
            .display__remains-days-postfix дней
        .display__remains-description до конца марафона