.display
    padding: 20px
    background-color: $light-blue-bg
    border-radius: 16px

    &__remains
        display: flex
        flex-direction: column
        align-items: center

    &__remains-days 
        display: flex
        color: $accent
        align-items: baseline
       

    &__remains-days-number
        font-size: 60px
        line-height: 1em
        font-family: $semibold

    &__remains-days-postfix
        font-size: 14px 
        line-height: 1.5em
        margin-left: 6px
        font-family: $medium

    &__remains-description
        font-size: 16px
        line-height: 1.6em
        font-family: $semibold

        