.jumbo-card(style="background-image: url('img/jumbo-card/day-1.webp')")
    .jumbo-card__content
        .jumbo-card__description 
            .jumbo-card__description-header
                .title.title--inverse День 1
                .jumbo-card__description-duration 25 мин

            .jumbo-card__description-tag-list
                .jumbo-card__description-tag Расслабление шеи
                .jumbo-card__description-tag Укрепление позвоночника
            .jumbo-card__description-button
                +button('Начать занятие', 'button--full-width')