.nav-bar 
    button.nav-bar__item.active
        .nav-bar__item-icon
            +svg("24", "24", "clipboard-notes")
        .nav-bar__item-label Задания
    button.nav-bar__item
        .nav-bar__item-icon
            +svg("24", "24", "gift")
        .nav-bar__item-label Подарки
    button.nav-bar__item
        .nav-bar__item-icon
            +svg("24", "24", "catalog")
        .nav-bar__item-label Продукты
    button.nav-bar__item
        .nav-bar__item-icon
            +svg("24", "24", "external-link")
        .nav-bar__item-label Аккаунт