.reward-card
    .reward-card__image(style="background-image: url('img/reward-card/reward-1.webp')")
    
    .reward-card__content
        .reward-card_title Книгу рецептов “3 варианта полезных ужинов”
        .reward-card_description 
            .reward-card__description-text Нужно 3 дня в поток