.reward
    .reward__icon
        img(src="img/icons/recipes.png", alt="Награда")
    .reward__content
        .reward__title Книгу рецептов “3 варианта полезных ужинов”
        .reward__description 
            .reward__description-text Нужно 3 дня в поток