.reward
    .reward__icon
        img(src="img/icons/books.png", alt="Награда")
    .reward__content
        .reward__title Сборник книг “Упражнения для пресса, гибкости и спины”
        .reward__description.reward__description--done
            .reward__description-icon
                +svg('16', '16', 'check-circle')
            .reward__description-text Выполнено
        a(href="#").reward__link Забрать награду 