.reward
    .reward__icon
        img(src="img/icons/books.png", alt="Награда")
    .reward__content
        .reward__title Подарок 1 уровень
        .reward__description.reward__description--done
            .reward__description-icon
                +svg('16', '16', 'check-circle')
            .reward__description-text 6 из 6 баллов
        a(href="#").reward__link Забрать награду 