.reward
    .reward__icon
        img(src="img/icons/recipes.png", alt="Награда")
    .reward__content
        .reward__title Подарок 1 уровень
        .reward__description 
            .reward__description-text 2 из 6 баллов