.achieve-section
    .achieve-section__image(style="background-image: url('img/achieve/7-days-large.webp')")
    .achieve-section__content
        .achieve-section__header 
            .achieve-section__title
                .title.title--l 3 лучших упражнения для супер&#8209;пресса
            .achieve-section__header-label
                .chips
                    .chips__icon
                        +svg(16, 16, "flash")
                    .chips__text Нужно 7 дня в поток
        .achieve-section__about
            .achieve-section__about-header
                .title.title--m О подарке

            .achieve-section__text
                p В этой книге вы найдёте 3 упражнения для формирования красивых и подтянутых ног. Все упражнения подробно расписаныпо дыханию и технике выполнения.
                p Также автор дает рекомендации, как избегать возможных ошибок при выполнении


    .achieve-section__footer-fixed 
        +button('Недоступно', 'button--full-width', true)