.achieve-section
    .achieve-section__image(style="background-image: url('img/achieve/food.webp')")
    .achieve-section__content
        .achieve-section__header 
            .achieve-section__title
                .title.title--l Рационы питания
            .achieve-section__header-label
                .chips
                    .chips__icon
                        +svg(16, 16, "telegram")
                    .chips__text Нужна подписка
        .achieve-section__about
            .achieve-section__about-header
                .title.title--m О подарке

            ul.achieve-section__about-list
                li.achieve-section__about-list-item Рацион здорового человека, включающий все пищевые группы.
                li.achieve-section__about-list-item Рацион сбалансирован и учитывает потребности организма в основных микро и макроэлементах ( витаминах и минералах, а также жирах, белках и углеводах)
                li.achieve-section__about-list-item Помимо этого, содержимое вашей тарелки будет способствовать формированию здоровой и разнообразной микрофлоры кишечника!


    .achieve-section__footer-fixed 
        +button('Подписаться', 'button--full-width')